$black: #333;
$main-black: #666;              //主色
$light-black: #999;             //浅黑色
$red: #F54404;
$border: #E4E4E4;               //分割线和描边
$bg: #F9F9F9;                   //首页背景色
$activity-bg: #F8D303;          //活动背景色
$white: #FFF;
$placeholder: #ccc;             //placeholder
$pink: #FEE6DD;