@()(implicit pageParam: views.params.PageParam)

@main("998元活动物料包套餐") {
	<link rel="stylesheet" type="text/css" href="/assets/css/activities/998.css">
} {
	<div class="box act-998">
    	<div class="container">
    		<div class="required-product">
    			<img class="required-product-title" src="http://source.soyyin.com/activities/998/required_product_title.png">
    			<img class="plus-icon" src="http://source.soyyin.com/activities/998/plus_icon.png">
    			<a href="/product?id=11" target="_blank">
	    			<div class="required-product-1" title="三折页 X 1000张">
	    				<img class="product-img" src="http://source.soyyin.com/activities/998/998_product_sanzheye.png">
	    			</div>
    			</a>
    			<a href="/product?id=4" target="_blank">
	    			<div class="required-product-2" title="门型展架 X 4个">
	    				<img class="product-img" src="http://source.soyyin.com/activities/998/998_product_menxingzhanjia.png">
	    			</div>
	    		</a>
    		</div>
    		<div class="optional-product">
    			<img class="optional-product-title" src="http://source.soyyin.com/activities/998/optional_product_title.png">
    			<div class="optional-product-row">
    				<div class="optional-product-row-item" title="海报 X 12张">
                        <a href="/product?id=9" target="_blank">
                            <img class="product-img" src="http://source.soyyin.com/activities/998/998_product_haibao.png">
        					<div class="product-desc">
        						<div class="product-title">海报 X 12张</div>
        						<div class="product-introduction">企业品牌形象经典展现</div>
        					</div>
                        </a>
                        <div class="product-bottom-area">
                            <span class="jiazhi-text">价值：</span>
                            <span class="product-price">￥144</span>
                            <div class="btn unchecked" title="点击选购该商品"></div>
                        </div>
    				</div>
    				<div class="optional-product-row-item" title="名片 X 8盒">
    					<a href="/product?id=40" target="_blank">
                            <img class="product-img" src="http://source.soyyin.com/activities/998/998_product_mingpian.png">
                            <div class="product-desc">
                                <div class="product-title">名片 X 8盒</div>
                                <div class="product-introduction">活动商务谈判中重要的社交载体</div>
                            </div>
                        </a>
                        <div class="product-bottom-area">
                            <span class="jiazhi-text">价值：</span>
                            <span class="product-price">￥144</span>
                            <div class="btn unchecked" title="点击选购该商品"></div>
                        </div>
    				</div>
    				<div class="optional-product-row-item" title="不干胶 X 1000张">
    					<a href="/product?id=34" target="_blank">
                            <img class="product-img" src="http://source.soyyin.com/activities/998/998_product_buganjiao.png">
                            <div class="product-desc">
                                <div class="product-title">不干胶 X 1000张</div>
                                <div class="product-introduction">短小精悍神通广大，可使用于参会标贴、活动贴、杯贴等</div>
                            </div>
                        </a>
                        <div class="product-bottom-area">
                            <span class="jiazhi-text">价值：</span>
                            <span class="product-price">￥150</span>
                            <div class="btn unchecked" title="点击选购该商品"></div>
                        </div>
    				</div>
    			</div>
    			<div class="optional-product-row">
    				<div class="optional-product-row-item" title="横幅 X 2条">
    					<a href="/product?id=13" target="_blank">
                            <img class="product-img" src="http://source.soyyin.com/activities/998/998_product_hengfu.png">
                            <div class="product-desc">
                                <div class="product-title">横幅 X 2条</div>
                                <div class="product-introduction">营造活动氛围不二之选</div>
                            </div>
                        </a>
                        <div class="product-bottom-area">
                            <span class="jiazhi-text">价值：</span>
                            <span class="product-price">￥124</span>
                            <div class="btn unchecked" title="点击选购该商品"></div>
                        </div>
    				</div>
    				<div class="optional-product-row-item" title="单页 X 1000张">
    					<a href="/product?id=10" target="_blank">
                            <img class="product-img" src="http://source.soyyin.com/activities/998/998_product_danye.png">
                            <div class="product-desc">
                                <div class="product-title">单页 X 1000张</div>
                                <div class="product-introduction">低成本推广神器，快速阅览发放量大</div>
                            </div>
                        </a>
                        <div class="product-bottom-area">
                            <span class="jiazhi-text">价值：</span>
                            <span class="product-price">￥140</span>
                            <div class="btn unchecked" title="点击选购该商品"></div>
                        </div>
    				</div>
    				<div class="optional-product-row-item" title="胸牌 X 30个">
    					<a href="/product?id=35" target="_blank">
                            <img class="product-img" src="http://source.soyyin.com/activities/998/998_product_xiongpai.png">
                            <div class="product-desc">
                                <div class="product-title">胸牌 X 30个</div>
                                <div class="product-introduction">体现公司整体形象，便于会场人员管理</div>
                            </div>
                        </a>
                        <div class="product-bottom-area">
                            <span class="jiazhi-text">价值：</span>
                            <span class="product-price">￥150</span>
                            <div class="btn unchecked" title="点击选购该商品"></div>
                        </div>
    				</div>
    			</div>
    		</div>
            <div class="act-combo">
                <img class="act-combo-title" src="http://source.soyyin.com/activities/998/act_ combo_title.png">
                <div class="act-combo-table-area">
                    <table class="act-combo-table">
                        <thead>
                            <tr>
                                <td style="width:141px;">名称</td>
                                <td style="width:141px;">数量</td>
                                <td style="width:329px;">材质尺寸</td>
                                <td style="width:141px;">价格</td>
                                <td style="width:188px;">选购情况</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>三折页</td>
                                <td>1000份</td>
                                <td>157g铜版纸，A4(210*285mm)</td>
                                <td class="act-combo-table-cell-price">￥516</td>
                                <td class="act-combo-table-cell-status-checked">已选</td>
                            </tr>
                            <tr>
                                <td>门型展架</td>
                                <td>4个</td>
                                <td>180g高光相纸覆膜，80*180cm</td>
                                <td class="act-combo-table-cell-price">￥436</td>
                                <td class="act-combo-table-cell-status-checked">已选</td>
                            </tr>
                            <tr>
                                <td>海报</td>
                                <td>12张</td>
                                <td>覆膜，60*90mm</td>
                                <td class="act-combo-table-cell-price">￥144</td>
                                <td class="act-combo-table-cell-status-unchecked">未选</td>
                            </tr>
                            <tr>
                                <td>名片</td>
                                <td>8盒</td>
                                <td>90*50mm,300g铜版纸覆膜，每盒100张</td>
                                <td class="act-combo-table-cell-price">￥144</td>
                                <td class="act-combo-table-cell-status-unchecked">未选</td>
                            </tr>
                            <tr>
                                <td>不干胶</td>
                                <td>1000张</td>
                                <td>80g铜版纸，不覆膜，直径8cm圆形</td>
                                <td class="act-combo-table-cell-price">￥150</td>
                                <td class="act-combo-table-cell-status-unchecked">未选</td>
                            </tr>
                            <tr>
                                <td>横幅</td>
                                <td>2条</td>
                                <td>0.82m宽，厚A布，10米内</td>
                                <td class="act-combo-table-cell-price">￥124</td>
                                <td class="act-combo-table-cell-status-unchecked">未选</td>
                            </tr>
                            <tr>
                                <td>单页</td>
                                <td>1000份</td>
                                <td>157g铜版纸，210*140mm</td>
                                <td class="act-combo-table-cell-price">￥140</td>
                                <td class="act-combo-table-cell-status-unchecked">未选</td>
                            </tr>
                            <tr>
                                <td>胸牌</td>
                                <td>30个</td>
                                <td>硬胶套+内页铜版纸(71*105mm)</td>
                                <td class="act-combo-table-cell-price">￥150</td>
                                <td class="act-combo-table-cell-status-unchecked">未选</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="divider"></div>
                    <div class="triangle"></div>
                    <div class="original-cost">原价：￥952</div>
                    <div class="price-divider"></div>
                    <div class="combo-price-text">套餐更优惠：</div>
                    <div class="combo-price">￥998</div>
                    <div class="add-cart-btn disabled">加入购物车</div>
                </div>
            </div>
            <div class="act-introduction">
                <div class="act-introduction-title">※ 活动说明</div>
                <div class="act-introduction-content">1、如需制作搭建背景板、手提袋、桌签等更多活动宣传品，请联系客服QQ：2852519982。</div>
                <div class="act-introduction-content">2、本次活动的最终解释权归酱印网所有。</div>
                <a class="act-consult" target="_blank" href="http://q.url.cn/s/9VHYO">详情咨询>></a>
            </div>
        </div>
    	<div class="bg bg-1"></div>
    	<div class="bg bg-2"></div>
    	<div class="bg bg-3"></div>
    	<div class="bg bg-4"></div>
    	<div class="bg bg-5"></div>
    	<div class="bg bg-6"></div>
    	<div class="bg bg-7"></div>
    	<div class="bg bg-8"></div>
    	<div class="bg bg-9"></div>
    	<div class="bg bg-10"></div>
    	<div class="bg bg-11"></div>
    	<div class="bg bg-12"></div>
    	<div class="bg bg-13"></div>
    	<div class="bg bg-14"></div>
    	<div class="bg bg-15"></div>
    	<div class="bg bg-16"></div>
    	<div class="bg bg-17"></div>
    	<div class="bg bg-18"></div>
    	<div class="bg bg-19"></div>
    	<div class="bg bg-20"></div>
    	<div class="bg bg-21"></div>
    	<div class="bg bg-22"></div>
    	<div class="bg bg-23"></div>
    	<div class="bg bg-24"></div>
		<div class="bg bg-25"></div>
    </div>
    <div class="modal-layer"></div>
    <div class="modal" id="add_cart">
        <div class="modal-head"><a class="close"></a></div>
        <div class="modal-body">
            <div class="tip">
                <div class="message success">成功加入购物车</div>
            </div>
        </div>
        <div class="modal-foot"><a class="btn right" href="/cart">去购物车结算></a><a class="btn left no-stay"><继续订购</a></div>
    </div>
} {
	<script src="/assets/js/common.js"></script>
    <script src="/assets/js/activities/998.js"></script>
}
