@()(implicit pageParam: views.params.PageParam)

@main("设备租赁") {
    <style type="text/css">
        .equipment-leasing-table {
            border-collapse: collapse;
            margin: 50px auto 100px;
        }

        .equipment-leasing-table thead {
            font-size: 16px;
            color: #222;
            font-weight: bold;
        }

        .equipment-leasing-table .title {
            color: black;
            font-size: 20px;
        }

        .equipment-leasing-table tbody {
            font-size: 15px;
            color: #222;
        }

        .equipment-leasing-table td {
            border: 2px solid #b8b8b8;
            text-align: center;
            vertical-align: middle;
            padding: 12px 10px;
        }

        .equipment-leasing-table tfoot {
            color: #555;
            font-size: 14px;
        }
    </style>
} {
	<div class="box">
        <div class="container">
        	<p class="breadcrumb">当前位置：<a href="/">首页</a> > <a>租赁类</a> > <a class="current" href="#">设备租赁</a></p>
		    <table class="equipment-leasing-table">
		        <thead>
		            <tr class="title">
		                <td colspan="6">设备租赁报价</td>
		            </tr>
		            <tr>
		                <td>分类</td>
		                <td>设备名称</td>
		                <td>详情</td>
		                <td>单位</td>
		                <td>单价（元）</td>
		                <td>备注</td>
		            </tr>
		        </thead>
		        <tbody>
		            <tr>
		                <td rowspan="10">灯光</td>
		                <td>电脑光束灯</td>
		                <td></td>
		                <td>个</td>
		                <td>300</td>
		                <td></td>
		            </tr>
		            <tr>
		                <td>电脑染色灯</td>
		                <td></td>
		                <td>个</td>
		                <td>550</td>
		                <td></td>
		            </tr>
		            <tr>
		                <td>电脑图案灯</td>
		                <td></td>
		                <td>个</td>
		                <td>650</td>
		                <td></td>
		            </tr>
		            <tr>
		                <td>logo片</td>
		                <td></td>
		                <td>个</td>
		                <td>200</td>
		                <td></td>
		            </tr>
		            <tr>
		                <td>LEDpar灯</td>
		                <td></td>
		                <td>个</td>
		                <td>80</td>
		                <td></td>
		            </tr>
		            <tr>
		                <td>追光灯</td>
		                <td></td>
		                <td>个</td>
		                <td>700</td>
		                <td></td>
		            </tr>
		            <tr>
		                <td>雾机</td>
		                <td></td>
		                <td>个</td>
		                <td>300</td>
		                <td></td>
		            </tr>
		            <tr>
		                <td>泡泡机</td>
		                <td></td>
		                <td>个</td>
		                <td>300</td>
		                <td></td>
		            </tr>
		            <tr>
		                <td>调光台</td>
		                <td></td>
		                <td>个</td>
		                <td>500</td>
		                <td></td>
		            </tr>
		            <tr>
		                <td>灯光师</td>
		                <td></td>
		                <td>名</td>
		                <td>300</td>
		                <td></td>
		            </tr>
		            <tr>
		                <td rowspan="9">音响</td>
		                <td>主音箱</td>
		                <td></td>
		                <td>个</td>
		                <td>600</td>
		                <td></td>
		            </tr>
		            <tr>
		                <td>低音</td>
		                <td></td>
		                <td>个</td>
		                <td>600</td>
		                <td></td>
		            </tr>
		            <tr>
		                <td>返送</td>
		                <td></td>
		                <td>个</td>
		                <td>450</td>
		                <td></td>
		            </tr>
		            <tr>
		                <td>功放</td>
		                <td></td>
		                <td>个</td>
		                <td>300</td>
		                <td></td>
		            </tr>
		            <tr>
		                <td>耳麦</td>
		                <td></td>
		                <td>个</td>
		                <td>150</td>
		                <td></td>
		            </tr>
		            <tr>
		                <td>手持麦</td>
		                <td></td>
		                <td>个</td>
		                <td>150</td>
		                <td></td>
		            </tr>
		            <tr>
		                <td>鹅颈麦</td>
		                <td></td>
		                <td>个</td>
		                <td>150</td>
		                <td></td>
		            </tr>
		            <tr>
		                <td>对讲机</td>
		                <td></td>
		                <td>个</td>
		                <td>100</td>
		                <td></td>
		            </tr>
		            <tr>
		                <td>音响师</td>
		                <td></td>
		                <td>名</td>
		                <td>300</td>
		                <td></td>
		            </tr>
		            <tr>
		                <td rowspan="11">视频</td>
		                <td rowspan="2">LED屏</td>
		                <td>P3屏</td>
		                <td>平米</td>
		                <td>350</td>
		                <td></td>
		            </tr>
		            <tr>
		                <td>P4屏</td>
		                <td>平米</td>
		                <td>300</td>
		                <td></td>
		            </tr>
		            <tr>
		                <td>视频切换器</td>
		                <td></td>
		                <td>个</td>
		                <td>300</td>
		                <td></td>
		            </tr>
		            <tr>
		                <td>视频监视器</td>
		                <td></td>
		                <td>个</td>
		                <td>300</td>
		                <td></td>
		            </tr>
		            <tr>
		                <td>视频控制台</td>
		                <td></td>
		                <td>个</td>
		                <td>300</td>
		                <td></td>
		            </tr>
		            <tr>
		                <td>调频师</td>
		                <td></td>
		                <td>名</td>
		                <td>300</td>
		                <td></td>
		            </tr>
		            <tr>
		                <td>笔记本电脑</td>
		                <td></td>
		                <td>个</td>
		                <td>150</td>
		                <td></td>
		            </tr>
		            <tr>
		                <td>6m大摇臂（带摄像）</td>
		                <td></td>
		                <td>个</td>
		                <td>3800</td>
		                <td></td>
		            </tr>
		            <tr>
		                <td rowspan="2">导播台</td>
		                <td>高清</td>
		                <td>个</td>
		                <td>4500</td>
		                <td></td>
		            </tr>
		            <tr>
		                <td>标清</td>
		                <td>个</td>
		                <td>3000</td>
		                <td></td>
		            </tr>
		            <tr>
		                <td>高清摄像机（带人）	</td>
		                <td></td>
		                <td>套</td>
		                <td>2000</td>
		                <td></td>
		            </tr>
		            <tr>
		                <td rowspan="46">户外道具</td>
		                <td>折叠帐篷</td>
		                <td>3*3m</td>
		                <td>个</td>
		                <td>120</td>
		                <td>不含围布</td>
		            </tr>
		            <tr>
		                <td rowspan="2">A字板</td>
		                <td>1*2m</td>
		                <td>块</td>
		                <td>220</td>
		                <td>包含画面三角堵</td>
		            </tr>
		            <tr>
		                <td>1*3m</td>
		                <td>块</td>
		                <td>280</td>
		                <td>包含画面三角堵</td>
		            </tr>
		            <tr>
		                <td>舞台</td>
		                <td></td>
		                <td>平米</td>
		                <td>80</td>
		                <td>含地毯</td>
		            </tr>
		            <tr>
		                <td>看台</td>
		                <td></td>
		                <td>平米</td>
		                <td>220</td>
		                <td>座位外加20元</td>
		            </tr>
		            <tr>
		                <td>桁架</td>
		                <td></td>
		                <td>平米</td>
		                <td>85</td>
		                <td>包含普通喷绘布</td>
		            </tr>
		            <tr>
		                <td rowspan="4">篷房</td>
		                <td>3*3m</td>
		                <td>顶</td>
		                <td>800</td>
		                <td></td>
		            </tr>
		            <tr>
		                <td>5*5m</td>
		                <td>顶</td>
		                <td>1500</td>
		                <td></td>
		            </tr>
		            <tr>
		                <td>跨度10m</td>
		                <td>平米</td>
		                <td>40</td>
		                <td></td>
		            </tr>
		            <tr>
		                <td>跨度15m</td>
		                <td>平米</td>
		                <td>50</td>
		                <td></td>
		            </tr>
		            <tr>
		                <td rowspan="3">道旗</td>
		                <td>3m</td>
		                <td>个</td>
		                <td>20</td>
		                <td>不含画面（40元/平米丝网印）</td>
		            </tr>
		            <tr>
		                <td>5m</td>
		                <td>个</td>
		                <td>150</td>
		                <td>不含画面（40元/平米丝网印）</td>
		            </tr>
		            <tr>
		                <td>5m注水</td>
		                <td>个</td>
		                <td>100</td>
		                <td>不含画面（40元/平米丝网印）</td>
		            </tr>
		            <tr>
		                <td>铁马</td>
		                <td>1.2*2m</td>
		                <td>个</td>
		                <td>35</td>
		                <td></td>
		            </tr>
		            <tr>
		                <td>不锈钢铁马</td>
		                <td>1.2*2m</td>
		                <td>个</td>
		                <td>40</td>
		                <td></td>
		            </tr>
		            <tr>
		                <td>水马</td>
		                <td>长1500mm上宽250mm<br/>下宽480mm高800mm</td>
		                <td>个</td>
		                <td>50</td>
		                <td></td>
		            </tr>
		            <tr>
		                <td>地毯</td>
		                <td></td>
		                <td>平米</td>
		                <td>10</td>
		                <td></td>
		            </tr>
		            <tr>
		                <td>广告伞</td>
		                <td>直径2.4m</td>
		                <td>个</td>
		                <td>30</td>
		                <td></td>
		            </tr>
		            <tr>
		                <td>高档侧臂伞</td>
		                <td></td>
		                <td>个</td>
		                <td>150</td>
		                <td></td>
		            </tr>
		            <tr>
		                <td>排椅</td>
		                <td></td>
		                <td>座</td>
		                <td>10</td>
		                <td></td>
		            </tr>
		            <tr>
		                <td>公园椅</td>
		                <td></td>
		                <td>个</td>
		                <td>100</td>
		                <td></td>
		            </tr>
		            <tr>
		                <td rowspan="3">垃圾桶</td>
		                <td>240L</td>
		                <td>个</td>
		                <td>50</td>
		                <td></td>
		            </tr>
		            <tr>
		                <td>1100L</td>
		                <td>个</td>
		                <td>400</td>
		                <td></td>
		            </tr>
		            <tr>
		                <td>30L</td>
		                <td>个</td>
		                <td>30</td>
		                <td></td>
		            </tr>
		            <tr>
		                <td>指示牌</td>
		                <td></td>
		                <td>个</td>
		                <td>50</td>
		                <td></td>
		            </tr>
		            <tr>
		                <td>白一米线</td>
		                <td></td>
		                <td>根</td>
		                <td>20</td>
		                <td></td>
		            </tr>
		            <tr>
		                <td>黑一米线</td>
		                <td></td>
		                <td>根</td>
		                <td>30</td>
		                <td></td>
		            </tr>
		            <tr>
		                <td>挂绳栏杆</td>
		                <td></td>
		                <td>根</td>
		                <td>30</td>
		                <td>钛金、不锈钢</td>
		            </tr>
		            <tr>
		                <td>围栏</td>
		                <td>2.5m高</td>
		                <td>米</td>
		                <td>100</td>
		                <td></td>
		            </tr>
		            <tr>
		                <td>庙会篷</td>
		                <td>2.5*2.5m</td>
		                <td>间</td>
		                <td>150</td>
		                <td></td>
		            </tr>
		            <tr>
		                <td>桩桶</td>
		                <td>0.3*0.5*0.7*0.9m</td>
		                <td>个</td>
		                <td>5</td>
		                <td></td>
		            </tr>
		            <tr>
		                <td>减速带</td>
		                <td>长1m</td>
		                <td>块</td>
		                <td>15</td>
		                <td></td>
		            </tr>
		            <tr>
		                <td>过线板</td>
		                <td>长0.9m</td>
		                <td>块</td>
		                <td>30</td>
		                <td></td>
		            </tr>
		            <tr>
		                <td>看台</td>
		                <td></td>
		                <td>平米</td>
		                <td>220</td>
		                <td></td>
		            </tr>
		            <tr>
		                <td>合唱台合影台</td>
		                <td>3层，2m</td>
		                <td>组</td>
		                <td>300</td>
		                <td></td>
		            </tr>
		            <tr>
		                <td>折叠椅</td>
		                <td></td>
		                <td>把</td>
		                <td>5</td>
		                <td></td>
		            </tr>
		            <tr>
		                <td>折叠桌</td>
		                <td></td>
		                <td>张</td>
		                <td>35</td>
		                <td></td>
		            </tr>
		            <tr>
		                <td>吧桌</td>
		                <td></td>
		                <td>张</td>
		                <td>50</td>
		                <td></td>
		            </tr>
		            <tr>
		                <td>吧椅</td>
		                <td></td>
		                <td>把</td>
		                <td>30</td>
		                <td></td>
		            </tr>
		            <tr>
		                <td>宴会椅</td>
		                <td></td>
		                <td>把</td>
		                <td>10</td>
		                <td>不含蝴蝶结</td>
		            </tr>
		            <tr>
		                <td>厕所</td>
		                <td></td>
		                <td>个</td>
		                <td>600</td>
		                <td></td>
		            </tr>
		            <tr>
		                <td>沙发</td>
		                <td></td>
		                <td>个</td>
		                <td>200</td>
		                <td></td>
		            </tr>
		            <tr>
		                <td>茶几</td>
		                <td></td>
		                <td>个</td>
		                <td>70</td>
		                <td></td>
		            </tr>
		            <tr>
		                <td>演讲台</td>
		                <td></td>
		                <td>个</td>
		                <td>300</td>
		                <td></td>
		            </tr>
		            <tr>
		                <td>采暖炉</td>
		                <td></td>
		                <td>个</td>
		                <td>350</td>
		                <td>含液化气</td>
		            </tr>
		            <tr>
		                <td>空调</td>
		                <td>5匹</td>
		                <td>个</td>
		                <td>800</td>
		                <td></td>
		            </tr>
		        </tbody>
		        <tfoot>
		            <tr>
		                <td colspan="6">注：特殊要求另议，此价格根据实际资料和要求高低而变化，以最终商定为准。</td>
		            </tr>
		        </tfoot>
		    </table>
		</div>
    </div>
} {
}
