@import "../../../scss/common/_color.scss";

.carousel-wrapper{
  position: relative;
  overflow: hidden;
  .carousel-img{
    position: absolute;
    height: 100%;
    img{
      width: 100%;
    }
    li{
      float: left;
    }
  }
  &:hover{
    .previous-next{
      display: block;
    }
  }
  .previous-next{
    display: none;
    span{
      cursor: pointer;
      position: absolute;
      top: 50%;
      margin-top: -25px;
      text-align: center;
      display: block;
      width: 30px;
      height: 50px;
      line-height: 50px;
      background-color: rgba(51, 51, 51, 0.2);
    }
    .previous{
      i{
        height: 18px;
        width: 10px;
        display: inline-block;
        background: url('/assets/img/icon.png') -15px -154px no-repeat;
      }
    }
    .next{
      i{
        height: 18px;
        width: 10px;
        display: inline-block;
        background: url('/assets/img/icon.png') 0 -154px no-repeat;
      }
    }
    .next{
      right: 0;
    }
  }
  .carousel-nav{
    position: absolute;
    right: 30px;
    bottom: 15px;
    cursor: pointer;
    font-size: 10px;
    text-align: center;
    margin: 0 auto;
    color: $white;
    li{
      margin-left: 5px;
      display: inline-block;
      height: 12px;
      width: 12px;
      border-radius: 12px;
      background-color: $main-black;
      opacity: .4;
      &.active{
        background-color: $white;
        opacity: 1;
      }
    }
    &:hover{
      li{
        transition-duration: 0.2s;
        transform: scale(1.2);
      }
    }
  }
}