// UI Basic
#rich-editor {
  padding: 5px;
  font-family: "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

.edui-editor {
  position: relative;
  border: 1px solid #ccc;
  color: #555;
  border-radius: 3px;
}

.edui-editor-iframeholder {
  border-radius: 0 0 3px 3px;
}
